.ltr {
  direction: ltr;
}

.counter {
  counter-reset: line;
}

.counter span {
  display: block;
  padding-left: 12px;
  color: rgb(24, 165, 24);
}

.counter span:before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  color: rgb(128, 128, 128);
  padding: 0 0.5em;
}

.shadow {
  text-shadow: 0 0 5px #fde047;
}
